name: 'Sonatype Jake'

on:
  push:
  pull_request:
  schedule:
    - cron: '* * 3 * *'

jobs:
  security:
    # runs-on: ubuntu-latest
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        python-version: [ '3.7.x', '3.11.x' ]

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Run jake from Sonatype
        run: |
          
          cd ./Python
          pip3 install pipenv
          pipenv install --dev build
          pipenv install -e .
          pipenv run pip freeze > requirements.txt
          
          pipenv install --dev jake
          pipenv run jake ddt --whitelist jake-whitelist.json
